# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Temporary files
*.tmp
*.log

# Large throughput test files
videos/qualities/throughput_test.bin

# OS/editor files
.DS_Store
Thumbs.db
.vscode/

# Project backup files
data/*_backup*.csv
data/*_old*.csv
webapp/app_backup.py

videos/qualities/throughput_test_10MB.bin
